{% extends "base.html" %}

{% block content %}


{{ super() }}


{% set nv = namespace(rootnav=page.parent.children) %}
{% if not nv.rootnav %}
{% set nv.rootnav = nav %}
{% endif %}

{% if page.file.src_uri.split('/')[-1] == "navigation.md" %}
<ul class="mknav">
{%- for nav_item in nv.rootnav recursive -%}
    {% if nav_item.children %}
        {% set nv.rooturl = None %}
        {% for inner_nav_item in nav_item.children %}
            {% if inner_nav_item.is_page %}
                {% if inner_nav_item.file.src_uri.split('/')[-1] == "index.md" %}
                    {% set nv.rooturl = (inner_nav_item.url|url) %}
                {% endif %}
            {% endif %}
        {% endfor %}
    
        <li>
        {% if nv.rooturl %}
            <a href="{{ nv.rooturl }}">{{ nav_item.title }}</a>
        {% else %}
            {{ nav_item.title }}
        {% endif %}
            <ul class="mknav">{{ loop(nav_item.children) }}</ul>
        </li>

    {% else %}
        {% if not (nav_item.file.src_uri.split('/')[-1] == "navigation.md" or nav_item.file.src_uri.split('/')[-1] == "index.md") %}
        <li><a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
        {% endif %}
    {% endif %}
{%- endfor -%}
</ul>
{% endif %}


<div class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
    <span class="contributors-text">Contributors:&nbsp;
        {%- for user in committers -%}
        <a href="{{ user.url }}" title="{{ user.name }}" data-bi-name="contributorprofile" target="_blank">{{ user.name
            }} </a>
        {%- endfor -%}
    </span>
</div>

{% endblock %}